.grid-container {
  display: grid;
  grid-template-columns: 1;
  max-width: none;
  padding: 0;

  @media (min-width: 576px) {
    display: grid;
  }

  @media (min-width: 1200px) {
    grid-template-rows: 2fr 2fr 1fr 1fr;
    grid-template-columns: 4fr 2fr 2fr 1fr 4fr 1fr;
  }
}

.grid-3-6-1-2 {
  z-index: 2;
  grid-row: 1 / 2;
  grid-column: 3 / 6;
  padding-left: .25em;
  margin-bottom: initial;
}

.grid-1--1-2-7 {
  grid-row: 1 / -1;
  grid-column: 6 / 7;
  margin-bottom: initial;
  writing-mode: vertical-rl;
}

.grid-5-6-2-3 {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  align-self: end;
  padding-bottom: 4vh;
  margin-bottom: initial;
}

.grid-1-4-1-4 {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  width: calcula-ancho(57);
}

.grid-30 {
  width: calcula-ancho(20);

  @media (max-width: $mqGrid) {
    width: calcula-ancho(70);
  }
}

.grid-60 {
  width: calcula-ancho(60);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}
