<header class="header d-flex flex-column flex-sm-row justify-content-between align-content-between text-center">
    <a href="./index.html">
        <picture>
            <source srcset="./assets/images/bass-guitar-right.png?as=webp&width=50" type="image/webp">
            <img src="./assets/images/bass-guitar-right.png?width=50" alt="Baix elèctric" class="logo">
        </picture>
    </a>
    <nav class="header__nav">
        <ul class="list-unstyled d-flex flex-column flex-sm-row justify-content-between align-content-between">
            <li class="li">
                <a href="./members.html" class="nav__link">Membres de la Banda</a>
            </li>
            <li class="li">
                <a href="./biography.html" class="nav__link">Biografia i Història</a>
            </li>
            <li class="li">
                <a href="./contactForm.html" class="nav__link">Formulari de Contacte</a>
            </li>
        </ul>
    </nav>
</header>