.centered {
  display: block;
  margin: auto;
}

.red {
  color: red;
}

.width-250px {
  width: 250px;
  margin: auto;
}

.margin-top50 {
  margin-top: 50px;
}

.margin-top20 {
  margin-top: 20px;
}

.margin-right10 {
  margin-right: 10px;
}

.margin-left10 {
  margin-left: 10px;
}

.text-justify { 
  text-align: justify !important;
}
